@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Font
$font-Karla: 'Karla', sans-serif;
$font-DM: 'DM Serif Display', serif;

//colors Primary
$Dark-Violet: hsl(256, 25%, 20%);
$martinique: #2D2641;
$baltic-sea: #2C2830;
$mobster: #837D88;
$Grayish-Blue: hsl(216, 30%, 68%);

$london-hue: #C396C6;

//secondary
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(276, 4%, 51%);
$Very-Light-Gray: rgb(250, 250, 250);
$background: #F2F2F2;
$White: #FFF;
